<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% include google-analytics.html %}
	{% seo %}
	<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/favicon-16x16.png' | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}">
	<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
	<meta name="theme-color" content="#f5f7f8">
	<meta name="msapplication-TileColor" content="#f5f7f8">
	<meta name="msapplication-config" content="{{ '/browserconfig.xml' | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}?v={{ site.time | date: '%s' }}" />
</head>
